# Local Node.js Environment
.node/
node_modules/

# Environment Variables
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
